body {
  background: blueviolet;
}
a {
  transition: color 0.8s ease;
  color: blanchedalmond;
  font-weight: 800;
  text-decoration: none;
}

a:hover{
  color: yellow;
  
} 

p {
  font-weight: 100;
}
.container {
  display:grid;
  grid-template-columns: 100% ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header"
                        "contenido"
                        "footer";
  grid-gap: 20px;
  height: 100vh;                        
  }

.header {
  background-color: blueviolet;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  height: 5vh; 
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 10px;
  

}

.imagenGrande {
  background-color: blueviolet;
  grid-area: contenido;
  height: 1000px; 
  
}

.footer {
  background-color: blueviolet;
  grid-area: footer;
  height: auto; 
}

.containerOptions {
  display:grid;
  grid-area: opciones;
  grid-template-columns: 300px 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  
  

}



/* MEDIAS SCREEN */

/* Desktop */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
	
}

/* Tablet Portrait */
@media screen and (min-width: 480px) and (max-width: 768px){
	
}

/* Phone smaller */
@media screen and (max-width: 480px) { 
  

  .header{
    grid-template-columns: 1fr;
    
  }  

  .containerOptions{
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px;
  }
  
	.imagenGrande{
			display: none;
	}
  
  .footer{
  height: none;
 }
}